.badge {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  opacity: none;
}

.time_badge {
  margin-top: 10px;
}
