.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.568);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__a {
  color: #2e363e;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

.nav__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 35px;
  bottom: 25px;
}
