.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__picture {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin: 10px 0px 0px 20px;
}

.user-component__title {
  margin: 10px 0px 0px 20px;
  font-size: 18px;
  font-weight: 600;
}

.user-component__subtitle {
  margin: 10px 0px 0px 20px;
  margin-top: 5px;
  color: black;
  opacity: 0.5;
}
