.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__picture {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin: 10px 0px 0px 20px;
}

.user-component__title {
  margin: 25px 25px 10px 15px;
  font-size: 18px;
  font-weight: 600;
}

.user-component__subtitle {
  margin: 25px 25px 10px 15px;
  margin-top: 5px;
  color: black;
  opacity: 0.5;
}
.user-component__picture--xl {
  width: 80px;
  height: 80px;
}

.user-component__picture--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title user-component__title--not--bold {
  font-weight: 400;
}

.user-component__column__2 {
  margin-right: 20px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  color: black;
  opacity: 0.5;
}
.user-component__column:last-child {
  color: black;
  opacity: 0.5;
}
.user-component__time {
  display: block;
  color: black;
  opacity: 0.5;
}

.user-component__column__time {
  margin-right: 20px;
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
